.text{
    text-align: left;
}
 /* .card{

    color: #fcf6f6;
    text-align: center;
    padding: 25px 25px;
    border: 1px solid rgba(240, 227, 227, 0.3);
    background: rgba(237, 231, 231, 0.2);
    border-radius: 18px;
    box-shadow: 0 40px 30px rgba(252, 251, 251, 0.1);
    height: 400px;
    width: 300px;
    margin-bottom: 100px;

}  */